{% extends "base3.html" %}
{% load zenforms %}

{% block left_menu %}
{% endblock %}

{% block main_menu %}
{% endblock %}

{% block content_title %}
    <h1>{% block title %}Подтверждение электронной почты{% endblock %}</h1>
{% endblock %}

{% block content %}
    <section id="login">
        <div class="page-header">
            <h1>Подтверждение адреса электронной почты</h1>
        </div>
        <h2>{{ message }}</h2>
        <a href="/">Перейти на главную страницу</a>
    </section>
{% endblock %}