{% extends "base3.html" %}
{% load zenforms %}

{% block left_menu %}
    <li><a href="#login"><i class="glyphicon glyphicon-chevron-right pull-right"></i>Вход в систему</a></li>
{% endblock %}

{% block main_menu %}
{% endblock %}

{% block content_title %}
    <h1>{% block title %}Вход в систему{% endblock %}</h1>
{% endblock %}

{% block content %}
    <section id="login">
        <div class="page-header">
            <h1>Вход в систему</h1>
        </div>
        <form class="navbar navbar-left" action="" method="POST" class="form-horizontal">
            <div>
            {% izenform form options submit="Войти" notag=1 %}
            <input type="hidden" name="next" value="{{ next }}" />
            <!--<div class="form-group">-->
                <!--<h5>Имя пользователя</h5>-->
                <!--<input type="text" class="form-control" >-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<h5>Пароль</h5>-->
                <!--<input type="password" class="form-control">-->
            <!--</div>-->
            <button type="submit" class="btn btn-primary">Войти</button>
                </div>
            <div class="form-group">
            <a  href = "{% url reset_password_request %}" type="get"  class="text-left">Забыли пароль?</a>
            <!--{% include 'authorisation/social_auth_buttons.html' %}-->
            </div>

        </form>

    </section>
{% endblock %}
