{% extends "base3.html" %}
{% load zenforms %}

{% block left_menu %}
{% endblock %}

{% block main_menu %}
{% endblock %}

{% block js %}
     {{ block.super }}
     <script type="text/javascript">
        $(document).ready(function(){
            $("input.textInput").addClass("form-control");
            $("select").addClass("form-control");
            $("button").addClass("btn btn-primary");
        });
     </script>
{% endblock js %}

{% block content_title %}
    <h1>{% block title %}Запрос на сброс пароля{% endblock %}</h1>
{% endblock %}

{% block content %}
    <section id="login">
        <div class="page-header">
            <h1>Укажите адрес электронной почты, который вы указывали при регистрации, после этого на него придёт письмо со ссылкой для сброса пароля.</h1>
        </div>
        {% izenform form options submit="Отправить" %}
    </section>
{% endblock %}