<a rel="nofollow" href="{% url socialauth_begin 'google' %}"><img alt="Войти через Google" src="{{ STATIC_URL }}img/google.png" width="24" /></a>
<a rel="nofollow" href="{% url socialauth_begin 'facebook' %}"><img alt="Войти через Facebook" src="{{ STATIC_URL }}img/facebook.png" width="24" /></a>
<a rel="nofollow" href="{% url socialauth_begin 'twitter' %}"><img alt="Войти через Twitter" src="{{ STATIC_URL }}img/twitter.png" width="24" /></a>
{% comment %}
<a rel="nofollow" href="{% url socialauth_begin 'vkontakte' %}"><img alt="Войти через ВКонтакте" src="{{ STATIC_URL }}img/vkontakte.png" width="24" /></a>
<a rel="nofollow" href="{% url socialauth_begin 'odnoklassniki' %}"><img alt="Войти через Одноклассники" src="{{ STATIC_URL }}img/odnoklassniki.png" width="24" /></a>
{% endcomment %}