{% extends "base3.html" %}
{% load zenforms %}

{% block left_menu %}
    <li><a href="#add_user"><i class="glyphicon glyphicon-chevron-right pull-right"></i>Общие настройки</a></li>
    <li><a href="#social_account"><i class="glyphicon glyphicon-chevron-right pull-right"></i>Привязка к соцсетям</a></li>

{% endblock %}

{% block content %}
    <section id="add_user">
    <div class="page-header">
        <h1>Общие настройки</h1>
    </div>
       <form action="" method="post">
        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <h3><div class="col-md-6">Имя пользователя</div></h3>
            <div class="col-md-6">
                {% with "value="|add:user.username as a %}
                {{form.username|attrs:a}}
                {% endwith %}
                <button class="btn btn-primary pull-right" value="submit">Сохранить</button>
            </div>
        </div>
       </form>
        <div class="row">
            <h3><div class="col-md-6">Пароль</div></h3>
            <div class="col-md-6"><a class="btn btn-primary pull-right"  href = "{% url passwd %}" type="button">Cменить пароль</a></div>
        </div>



    </section>
    <section id="social_account">
        <div class="page-header">
        <h1>Привязка к соцсетям</h1>
    </div>
    {% with request.user.social_auth.all as user_social_accounts %}
        {% if user_social_accounts %}
            <p>С вашей учетной записью связаны аккаунты:</p>
            <ul class="social-auth-list">
            {% for user_social_account in user_social_accounts %}
                {% with user_social_account.provider as provider %}
                <li>
                    {% if provider == 'facebook' %}
                        <img alt="Facebook" src="{{ STATIC_URL }}img/facebook.png" width="24" />
                    {% else %}
                        {% if provider == 'twitter' %}
                            <img alt="Twitter" src="{{ STATIC_URL }}img/twitter.png" width="24" />
                        {% else %}
                            {% if provider == 'google' %}
                                <img alt="Google" src="{{ STATIC_URL }}img/google.png" width="24" />
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {{ provider|capfirst }}
                </li>
                {% endwith %}
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    Привязать: {% include "authorisation/social_auth_buttons.html" %}
    </section>
{% endblock %}
