{% if not options.notag %}
    <form class="uniForm" action="{{ options.action }}" method="{{ options.method }}" enctype="application/x-www-form-urlencoded">
{% endif %}
{% if form.non_field_errors %}
    <div class="control-group error non-field-errors">
        {% load i18n %}
        <h3>
        {% blocktrans count form.non_field_errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </h3>
        <ul>
            {% for error in form.non_field_errors %}
                <li class="help-inline">{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{{ form.media }}
