{% extends 'base3.html' %}
{% load monitoringengine_ui_tags zenforms %}
{% load l10n %}

{% block title %}
{% endblock title %}

{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery.fixedheadertable.js"></script>
    <script type="text/javascript">
        var counter = 0;
        var subscriptions = function(action_type){
            var s="[";
            var list = $("td.search_depth.success");
            var i = 0;
            var t = this;
            for (i = 0; i < list.length ; i++){
                t = list[i];
                if (!($(t).hasClass("query")))
                {
                    s += '('+ $(list[i]).parent().data("query_id") + ',' + $(t).closest('table').find('th').eq(($(t).index()-1)/3+1).data("region_id") + ')';
                    if (i!==list.length-1)  s += ',';
                }
            }
            s += ']';
            $('.var-subscriptions').val(s);
            $(".var-number-search").val($("#change_search").data("number_search"));
            $('.var-number-subdomain').val($("#change_subdomain").data("number_subdomain"));
            $('.var-type').val(action_type);
            $("#change_all_hidden").click();
        };
        var change_region = function(t){
                var region_id = $(t).closest('table').find('th').eq(($(t).index()-1)/3+1).data("region_id");
                console.log(region_id);
                var query_id = $(t).parent().data("query_id");
                var data={};
                data.region_id = region_id;
                data.query_id = query_id;
                var url= "{% url change_region resource_id=resource.id %}";
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: data,
                    dataType: 'html'
                }).done(function(a){
                    var t1=$(t).closest('tr').find('td').eq(($(t).index()-1)-($(t).index()-1)%3+1);
                    var t2=$(t).closest('tr').find('td').eq(($(t).index()-1)-($(t).index()-1)%3+2);
                    var t3=$(t).closest('tr').find('td').eq(($(t).index()-1)-($(t).index()-1)%3+3);
                    t1.find('div span.search-depth').html(a);
                    t2.find('div span.subdomain-include').html("*.*");
                    t1.toggleClass('td_clickable');
                    t2.toggleClass('td_clickable');
                    t3.toggleClass('td_clickable');
                    t1.children('div').toggle();
                    t2.children('div').toggle();
                    t3.children('div').toggle();
                    t1.toggleClass("none1");
                    t2.toggleClass("none2");
                });
        };
        $("#table-1").on('click', 'thead th.region',function(){
                $(this).toggleClass('selects');
                if ($(this).hasClass('selects'))
                    $('.region-'+$(this).data("region_id")).addClass("success");
                else
                    $('.region-'+$(this).data("region_id")).removeClass("success");
            });
        $("#table-1").on('click', 'tbody td.query',function(){
                $(this).toggleClass('selects');
                if ($(this).hasClass('selects'))
                    $(this).parent().find('td:visible').addClass("success");
                else
                    $(this).parent().find('td').removeClass("success");
            });
        $("#table-1").on('click', 'tbody td.td_clickable',function(){change_region($(this))});
        $("#table-1").on('click', 'tbody td span.close',function(){
            var t = $(this).parents('td');
            var region_id = $(t).closest('table').find('th').eq(($(t).index() - 1)/3 + 1).data("region_id");
            var query_id = $(t).parent().data("query_id");
            var region_name = $(t).closest('table').find('th').eq(($(t).index() - 1)/3 + 1).html();
            var query_name = $(t).parent().find("td:first-child a").html();
            $('#modal-body1').html('Вы уверены, что хотите удалить регион '+ region_name + 'из запроса '+ query_name +'?');
            $('.modal-title1').html('Удалить регион?');
            $('#btn-ok').removeData("region_id");
            $('#btn-ok').removeData("query_id");
            $('#btn-ok').data("region_id",region_id);
            $('#btn-ok').data("query_id",query_id);
            $('#btn-ok').off("click");
            $('#btn-ok').click(function(){
            change_region(t);
            });
            $('#modal-del-query').modal();
        });
        $("#change_search").on('click', 'ul a',function(){
            $("#change_search").removeData("number_search");
            $("#change_search").data("number_search",$(this).data("number_search"));
            $("#change_search button").html($(this).html());
        });
        $("#change_subdomain").on('click', 'ul a',function(){
            $("#change_subdomain").removeData("number_subdomain");
            $("#change_subdomain").data("number_subdomain",$(this).data("number_subdomain"));
            $("#change_subdomain button").html($(this).html());
        });
        $("#table-1").on('click', 'tbody td ul.search li a',function(){
            var t = $(this).parents('td');
            var region_id = $(t).closest('table').find('th').eq(($(t).index() - 1)/3 + 1).data("region_id");
            var query_id = $(t).parent().data("query_id");
            var data={};
            data.region_id = region_id;
            data.query_id = query_id;
            data.number = $(this).data("number");
            var url= "{% url change_search_depth resource_id=resource.id %}";
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                dataType: 'html'
            }).done(function(a){
                $(t).find('div span.search-depth').html(a);
            });
        });
        $("#table-1").on('click', 'tbody td ul.subdomain li a',function(){
            var t = $(this).parents('td');
            var region_id = $(t).closest('table').find('th').eq(($(t).index() - 1)/3 + 1).data("region_id");
            var query_id = $(t).parent().data("query_id");
            var data={};
            data.region_id = region_id;
            data.query_id = query_id;
            data.number = $(this).data("number");
            var url= "{% url change_subdomain_include resource_id=resource.id %}";
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                dataType: 'html'
            }).done(function(a){
                $(t).find('div span.subdomain-include').html(a);
            });
        });
        $("#table-1").on({mouseenter:function(){
                if (!($(this).hasClass("td_clickable"))) $(this).find('span.close').show();
            },
            mouseleave:function(){
                $(this).find('span.close').hide();
            }
        },'tbody td');
        $(".not_ex").hide();
        $(".not_exist").hide();
        $(".region-clickable").click(function() {
         var region_id = $(this).data("id");
         var selector = '.region-'+region_id;
         $(selector).show()
         $(selector).removeClass('not_exist');
        });
        $("#change_all_hidden").hide();
        $("#change_all").on("click",function(){
            subscriptions('change');
        });
        $("#region-all").on("click",function(){
            $(".region-clickable").each(function() {
                var region_id = $(this).data("id");
                var selector = '.region-'+region_id;
                $(selector).show()
            });
        });
        $("#delete_selected").on("click",function(){
            subscriptions('delete');
        });
        $(".td_clickable>*").hide();
        $("#add_query").on("click", function () {
            var newRow = $('<tr class="new_row">');
            var cols = "";
            cols += '<td><div class="input-group"><input type="text" class="form-control" /><span class="btn btn-default input-group-addon"><i class="glyphicon glyphicon-plus"></i></span></i></div></td>';
            var len = $( "#table-1>thead>tr>th" ).length-1;
            for (var i= 0;i<len;i++)
                cols += '<td class= "search_depth  td_clickable none1">'+
                                '<div class="dropdown">'+
                                    '<span type= "button"  class="dropdown-toggle" data-toggle="dropdown">'+
                                        '<span class="search-depth"></span>'+
                                        '<b class="caret"></b>'+
                                    '</span>'+
                                    '<ul class="search dropdown-menu">'+
                                        '<li><a data-number="0">50</a></li>'+
                                        '<li><a data-number="1">100</a></li>'+
                                        '<li><a data-number="2">200</a></li>'+
                                        '<li><a data-number="3">350</a></li>'+
                                        '<li><a data-number="4">500</a></li>'+
                                    '</ul>'+
                                '</div>'+
                            '</td>'+
                            '<td class= "none1 td_clickable none2">'+
                                '<div class="dropdown">'+
                                    '<span type= "button"  class="dropdown-toggle" data-toggle="dropdown">'+
                                        '<span class="subdomain-include"></span>'+'<b class="caret"></b>'+
                                    '</span>'+
                                    '<ul class="subdomain dropdown-menu">'+
                                        '<li><a data-number="0">a.b</a></li>'+
                                        '<li><a data-number="1">*.b</a></li>'+
                                        '<li><a data-number="2">*.*</a></li>'+
                                    '</ul>'+
                                '</div>'+
                            '</td>'+
                            '<td class= "none2 td_clickable" >'+
                                '<span type="button" style="display:none; height:10px" class="close pull-right">&times;</span>'+
                            '</td>';
            newRow.append(cols);
            $("table.change_query").append(newRow);
            $(".new_row>td>*").hide();
            $(".new_row>td:nth-child(1)>*").show();
            $(".new_row td").each(function(){
               if ($(this).closest('table').find('th').eq(($(this).index()-1)/3+1).hasClass("not_exist"))
               {
                $(this).addClass("not_exist");
                $(this).hide();
               }
               $(this).addClass('region-'+$(this).closest('table').find('th').eq(($(this).index()-1)/3+1).data("region_id"));
            });
            $(".new_row>td:nth-child(1) span").click(add_query_click);
            $(".new_row").removeClass("new_row");
        });
        var add_query_click = function() {
            t = this;
            var data = {};
            data.querystring = $(this).parent().find('input').val();
            var url= "{% url add_query resource_id=resource.id %}";
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                dataType: 'html'
            }).done(function(id){
                a=$(t).parents('tr').data('query_id',id);
                console.log(a);
                $(t).parents('tr').children('td:not(:first)').addClass('td_clickable');
                $(t).parents('td').html(data.querystring);
            });
            counter++;
            console.log(counter);
        }


</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/positions.js"></script>
{% endblock %}

{% block left_menu %}
    <li><a href="#query"><i class="glyphicon glyphicon-chevron-right pull-right"></i>{{ resource }}</a></li>
{% endblock %}

{% block breadcrumbs %}
<li class="dropdown">
    <a href="{{ resource.account.get_absolute_url }}" class="navbar-brand">{{ resource.account }}</a>
    <a href="#" class="navbar-brand dropdown-toggle small-dropdown" style="padding:15px 5px;margin:0 -10px"
       data-toggle="dropdown"><b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="/">Все аккаунты</a></li>
        <li class="divider"></li>
        {% for acc in user|accounts %}
            {% if acc != resource.account %}
                <li><a href="{{ acc.get_absolute_url }}">{{ acc }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</li>

<li class="dropdown" style="margin:0 0 0 30px">
    <a href="{{ resource.get_absolute_url }}" class="navbar-brand">{{ resource }}</a>
    <a href="#" class="navbar-brand dropdown-toggle small-dropdown" style="padding:15px 5px;margin:0 -10px"
       data-toggle="dropdown"><b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="/">Все ресурсы</a></li>
        <li class="divider"></li>
        {% for res in resource.account.resources.all %}
            {% if res != resource %}
                <li><a href="{{ res.get_absolute_url }}">{{ res }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</li>
{% endblock breadcrumbs %}

{%block left_panel%}
        <div class="affix-control">
            <div class="well well-large affix" style="top: 260px; width: 240px;height:280px; color:white ">
                <h4 style="color:black ">Глубина поиска</h4>
                <div id="change_search" data-number_search = "2" class="btn-group">
                     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        200 <span class="caret"></span>
                     </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a data-number_search = "0">50</a></li>
                        <li><a data-number_search = "1">100</a></li>
                        <li><a data-number_search = "2">200</a></li>
                        <li><a data-number_search = "3">350</a></li>
                        <li><a data-number_search = "4">500</a></li>
                      </ul>
                </div>
                <h4 style="color:black ">Поддомены для сайта</h4>
                <div id="change_subdomain" data-number_subdomain = "2" class="btn-group">
                     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Домены и поддомены <span class="caret"></span>
                     </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a data-number_subdomain = "0">Точный адрес</a></li>
                        <li><a data-number_subdomain = "1">Только поддомены</a></li>
                        <li><a data-number_subdomain = "2">Домены и поддомены</a></li>
                      </ul>
                </div>
                    <p></p><button type="button" id="change_all" class="btn btn-primary">Применить</button></p>
                    <p></p><button type="button" id="delete_selected" class="btn btn-danger">Удалить выделенное</button></p>
            </div>
        </div>
{% endblock left_panel %}



{% block content %}
    <section id="query">
        <div class="page-header">
            <h1><a href="{{ resource.get_absolute_url }}" style="color:#333">{{ resource }}</a></h1>
        </div>
        <h2>Регионы Yandex
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default">Добавить регион</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                   {% for region in set_regions %}
                    <li><a href="#" class="region-clickable" data-id="{{ region.id|unlocalize }}" >{{region}}</a></li>
                    {% endfor %}
                    <li class="divider"></li>
                    <li><a href="#" id="region-all">Все регионы</a></li>
                </ul>
            </div>
        </h2>
       <form method="post" action="{% url change_all resource_id=resource.id %}">
        <input type="hidden" class="var-number-search" name="number_search" value="2">
        <input type="hidden" class="var-number-subdomain" name="number_subdomain" value="2">
        <input type="hidden" class="var-subscriptions" name="subscriptions" value="[]">
        <input type="hidden" class="var-type" name="type" value="change">
        <button id="change_all_hidden" type="submit" class="btn btn-primary"></button>
       </form>
        <table id="table-1" class="table table-bordered change_query">
            <thead>
            <tr>
                <th>Запросы</th>
                {% for region in all_regions %}
                    <th colspan="3" data-region_id="{{ region.id|unlocalize }}" class="region region-{{ region.id|unlocalize }} {% if region in set_regions %} not_exist {%endif%}">{{ region.name }} </th>
                    <!--<th>{{ region.datetime_subscribed|date:'Y-m-d H:i' }}</th>-->
                {% endfor %}
                <!--<th colspan="2" align="center">238 Регион</th>-->
                <!--<th>Добавлен</th>-->
            </tr>
            </thead>
            <tbody>

            {% for query, subscriptions in table_data %}
                <tr data-query_id="{{ query.id|unlocalize }}" >
                    <td class="query">
                        <a href="{% url resource_query resource_id=resource.id  query_id=query.id%}">{{query}}</a>
                    </td>
                    {% for region in all_regions %}
                        {%with subscriptions|key:region as rs %}
                            <td class= "search_depth region-{{ region.id|unlocalize }} {% if not rs or rs.datetime_unsubscribed %} td_clickable none1 {%endif%}  {% if region in set_regions %} not_exist  {%endif%}">
                                <div class="dropdown">
                                    <span type= "button"  class="dropdown-toggle" data-toggle="dropdown"><span class="search-depth">{{rs.search_depth}}</span><b class="caret"></b></span>
                                    <ul class="search dropdown-menu">
                                        <li><a data-number="0">50</a></li>
                                        <li><a data-number="1">100</a></li>
                                        <li><a data-number="2">200</a></li>
                                        <li><a data-number="3">350</a></li>
                                        <li><a data-number="4">500</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td class= "none1 region-{{ region.id|unlocalize }} {% if not rs or rs.datetime_unsubscribed %} td_clickable none2 {%endif%}  {% if region in set_regions %} not_exist {%endif%}">
                                <div class="dropdown">
                                    <span type= "button"  class="dropdown-toggle" data-toggle="dropdown"><span class="subdomain-include">{{rs.subdomain_include|choose_subdomain_include}}</span><b class="caret"></b></span>
                                    <ul class="subdomain dropdown-menu">
                                        <li><a data-number="0">a.b</a></li>
                                        <li><a data-number="1">*.b</a></li>
                                        <li><a data-number="2">*.*</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td class= "none2 region-{{ region.id|unlocalize }} {% if not rs or rs.datetime_unsubscribed %} td_clickable  {%endif%}  {% if region in set_regions %} not_exist {%endif%}">
                                <span type="button" style="display:none; height:10px" class="close pull-right">&times;</span>
                            </td>
                        {%endwith%}
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <button type="button" id ="add_query" class="btn btn-primary dropdown-toggle">Добавить запрос</button>
        <!-- Modal -->
        <div class="modal fade" id="modal-del-query" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title1"></h4>
                    </div>
                    <div id="modal-body1" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <a id="btn-ok" class="btn btn-primary" data-dismiss="modal">ОК</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </section>
{% endblock content %}

