{% extends 'base3.html' %}
{% load monitoringengine_ui_tags %}

{% block title %}
    {% block content_title %}
        Главная
    {% endblock content_title %}
{% endblock title %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".user_remove").each(function(){
                $(this).click(function() {
                    var element = $(this)
                    var href = $(this).attr("href");
                    $.get(href, function(data){
                        if (data.deleted){element.parents("tr").remove()};
                    });
                    return false;
                });
            });
        });
    </script>
{% endblock %}


{% block container %}
<div class="container">
    <div class="row ">
        <div class="col-md-5 col-md-offset-1">
         <!--<div class="page-header">-->
            <!--<h1>Главная страница</h1>-->
         <!--</div>-->

        {% for acc in user|accounts %}
        <div class="page-header ">
            <h1><a class="black-link" href="{{ acc.get_absolute_url }}">{{ acc }}</a></h1>
            </div>
            <ul>
               {% for res in acc.resources.all %}
                <h2>
                    <li><a class="black-link" href="{{ res.get_absolute_url }}">{{ res }}</a></li>
                </h2>
                <ul>
                        <!--{% for view in res.views.all %}-->
                    <!--<h3>-->
                        <!--<li><a class="black-link" href="{{ view.get_absolute_url }}">{{ view }}</a></li>-->
                    <!--</h3>-->
                    <!--{% endfor %}-->
                    </ul>
               {% endfor %}
            </ul>
        {% endfor %}
        </div>
    </div>
</div>



    {% endblock container %}



