{% load l10n %}
<table id="table-1" class="table positions-table table-bordered table-hover">
        <thead>
        <tr>
            <th id="num" class="sort-head">№</th>
            <th id="query" class="sort-head">Запрос</th>
            <!--<th id="region" class="sort-head"> Регион</th>-->
            <th id="date_subscribed" class="sort-head"> Дата начала мониторинга</th>
            <th id="search_depth" class="sort-head">Глубина поиска</th>
        </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
        <tr data-id="{{subscription.id|unlocalize}}">
            <td class="td-count">
                <div class='number'> {{ forloop.counter }}</div>
            </td>

            <td>
                <a href="{% url resource_query resource_id=subscription.resource.id  query_id=subscription.subscription.query.id%}">{{subscription.subscription.query}}</a>
            </td>

            <!--<td>-->
            <!--{{subscription.subscription.region}}-->
            <!--</td>-->
            <td>
                {{subscription.datetime_subscribed}}
            </td>
            <td>
                {{subscription.search_depth}}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
