{% extends 'base3.html' %}
{% load monitoringengine_ui_tags zenforms %}

{% block title %}
{% endblock title %}

{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery.fixedheadertable.js"></script>
{% endblock %}

{% block left_menu %}
    <li><a href="#query"><i class="glyphicon glyphicon-chevron-right pull-right"></i>{{ query.querystring }}</a></li>
{% endblock %}


{% block content %}
    <section id="query">
        <div class="page-header">
            <h1>{{ query.querystring }}</h1>
        </div>
        <h2>Регионы Yandex</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Регион</th>
                <th>Добавлен</th>
            </tr>
            </thead>
            <tbody>
            {% for region in regions %}
                <tr class="{% cycle "success" "error" "warning" "info" %}">
                    <td>{{ region.subscription.region }}</td>
                    <td>{{ region.datetime_subscribed|date:'Y-m-d H:i' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock content %}