{% extends 'base3.html' %}
{% load monitoringengine_ui_tags %}


{% block left_menu %}
{% if user|can_manage:object %}
<li><a href="#users"><i class="glyphicon glyphicon-chevron-right pull-right"></i>Пользователи</a></li>
{% endif %}
{% endblock %}


{% block js %}
{{ block.super }}
<script type="text/javascript">
    $('.remove-perm').click(function() {
        $('#modal-body').html('Вы уверены, что хотите лишить пользователя ' +
            $(this).data('email') + ' права ' + $(this).data('perm-type') +
            ' на {{ object|class_verbose }} {{ object }}?');
        $('.modal-title').html('Лишить пользователя права?');
        $('#btn-modal-ok').attr('href', $(this).data('url'));
        $('#modal-remove-perm').modal();
    });
    $('#add-user-to-object').click(function() {
        $('#modal-body').html('Вы уверены, что хотите добавить пользователя в {{ object|class_verbose }} {{object}}?'+
            '\nemail:\n<input type="text" class="form-control" id="email-field">');
        $('.modal-title').html('Добавление пользователя');
        $('#btn-modal-ok').attr('href', $(this).data('url') + '?redirect={{object.get_absolute_url}}');
        $('#modal-remove-perm').modal();
    });
    $('#btn-modal-ok').click(function() {
        $(this).attr('href', $(this).attr('href') + '&email=' + $('#email-field').val());
    });
</script>
{% endblock js %}


{% block permissions %}
{% if user|can_manage:object %}
<!-- Modal -->
<div class="modal fade" id="modal-remove-perm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div id="modal-body" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <a id="btn-modal-ok" class="btn btn-primary">ОК</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
<section id="users">
    <div class="page-header">
        <h1>Пользователи
            {% if user|can_edit:object %}
            <button id="add-user-to-object" class="btn btn-default"
                    data-url="{% url add_user_to_object model=object|class_name pk=object.id %}">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
            {% endif %}
        </h1>
    </div>
    <table class="table table-bordered">
        <thead>
        <th class="col-md-1">№</th>
        <th>E-mail</th>
        <th>Разрешения</th>
        </thead>
        <tbody>
        {% for usr in object|users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {{ usr.email }}
            </td>
            <td>
                {% if usr|can_read:object %}
                <span class="perm perm-read">{% if not object.parent or not usr|can_read:object.parent %}<span
                        class="remove-perm"
                        data-email="{{ usr.email }}"
                        data-perm-type="чтения"
                        data-url="{% url manage_perm action='remove' model=object|class_name pk=object.id username=usr.username perm_type='read' %}?redirect={{object.get_absolute_url}}#users"></span>{% endif %}</span>
                {% endif %}
                {% if usr|can_edit:object %}
                <span class="perm perm-edit">{% if not object.parent or not usr|can_edit:object.parent %}<span
                        class="remove-perm"
                        data-email="{{ usr.email }}"
                        data-perm-type="редактирования"
                        data-url="{% url manage_perm action='remove' model=object|class_name pk=object.id username=usr.username perm_type='edit' %}?redirect={{object.get_absolute_url}}#users"></span>{% endif %}</span>
                {% endif %}
                {% if usr|can_manage:object %}
                <span class="perm perm-manage">{% if not object.parent or not usr|can_manage:object.parent %}<span
                        class="remove-perm"
                        data-email="{{ usr.email }}"
                        data-perm-type="управления пользователями"
                        data-url="{% url manage_perm action='remove' model=object|class_name pk=object.id username=usr.username perm_type='manage' %}?redirect={{object.get_absolute_url}}#users"></span>{% endif %}</span>
                {% endif %}
                {% if not usr|can_read:object or not usr|can_edit:object or not usr|can_manage:object %}
                <span class="dropdown">
                    <a href="#dropdown-add-perm" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-plus glyph-add-perm"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        {% if not usr|can_read:object %}
                        <li>
                            <a href="{% url manage_perm action='add' model=object|class_name pk=object.id username=usr.username perm_type='read' %}?redirect={{object.get_absolute_url}}#users">Чтение</a>
                        </li>
                        {% endif %}
                        {% if not usr|can_edit:object %}
                        <li>
                            <a href="{% url manage_perm action='add' model=object|class_name pk=object.id username=usr.username perm_type='edit' %}?redirect={{object.get_absolute_url}}#users">Редактирование</a>
                        </li>
                        {% endif %}
                        {% if not usr|can_manage:object %}
                        <li>
                            <a href="{% url manage_perm action='add' model=object|class_name pk=object.id username=usr.username perm_type='manage' %}?redirect={{object.get_absolute_url}}#users">Управление
                                пользователями</a></li>
                        {% endif %}
                    </ul>
                </span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

{% endif %}
{% endblock permissions %}